h1 {
    color: goldenrod;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    background-image: url(assets/images/table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#message-el {
    font-style: italic;
}


button {
    font-size: 30px;
    color: #016f32;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: goldenrod;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}